# You shouldn't ever have to edit this client ID, however it's here in case you do need it. 
[Discord]
DISCORD_CLIENT_ID = 1337802731594973326

[DEBUGGING]
DEBUG = False

[Excel Location]
PROD = mission_log.xlsx
TEST = mission_log_test.xlsx

# These are the webhooks that you want the results sent to, they are in the format of PROD = webhook1,webhook2,webhook3
# You can safely ignore the TEST webhook as it's mainly for project developemnt purposes
[Webhooks]
PROD = https://discord.com/api/webhooks/1368630042007044218/2sngegO0AC5EyPsL3H90dj3i0BWVpTLNdttzTrm8mY5bTdrl4InTG9Oi9beRmP0Ure3-
TEST = https://discord.com/api/webhooks/1384265697974030499/29IkPD4jQgN08uKkUweksszIWQaL60LV71VyuFDFwuJSWX1CM-zG_FI8etfmfeLJ_QF5
BAT = https://discord.com/api/webhooks/1368630428650700980/Wr9kKEUuTIfWR_Q7-M43pnrub7zUUwJgDKY88SYV8M8Rv1w8PaFg4EzD5cvYE4jdNk7a